.book-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 40vw;
  margin: 5px;
}

.book-card > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 15px;
}

.book-card > img {
  border-radius: 0.6rem;
  width: 40vw;
  height: 200px;
  overflow: hidden;
  object-fit: fill;
}

.book-list {
  display: flex;
  overflow-x: scroll;
  margin: 10px 0 30px;
}

.filtered-book-list {
  display: flex;
  flex-wrap: wrap;
}
